<section class="bg-bac text-light">
<nav class="navbar navbar-expand-lg custom-navbar ">
    <div class="container-fluid">
      <img [src]="imageLogo" width="60" height="auto" alt="Logo" class="img-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-light p-4 e-5" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Pricing</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link dropdown-toggle text-light disabled" aria-disabled="true" data-bs-toggle="dropdown">Dropdown link</a>
            <ul class="dropdown-menu text-light">
                <li><a class="dropdown-item text-light" href="#">Action</a></li>
                <li><a class="dropdown-item text-light" href="#">Another action</a></li>
                <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
  