<section>
    <div>
        <div class="row">
          <div class="col-md-3"*ngFor="let fruit of fruits">
            <div class="card mb-3">
              <img class="img-fluid" width="100" height="250" [src]="fruit.image" alt="{{fruit.name}}">
              <div class="card-body">
                <p class="card-title">{{fruit.name}}</p>
                <p class="card-text">{{fruit.prixHT | currency:'€'}}</p>
                <div class="input-group mb-3">
                  <div class="form-control readonly">{{ fruit.quantity }}</div>
                  <div class="input-group-prepend">
                    <button class="btn btn-danger text-light" type="button" (click)="decreaseQuantity(fruit)" [ngClass]="{'disabled': fruit.quantity === 0}"
                    [attr.disabled]="fruit.quantity === 0 ? true : null">-</button>
                  </div>
                  
                  <div class="input-group-append">
                    <button class="btn btn-success text-light" type="button" (click)="increaseQuantity(fruit)">+</button>
                  </div>
                </div>
                
              </div>
              <button class="btn btn-primary col-lg-12" (click)="addToCart(fruit)">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
</section>
